.article {
  position: relative;
}

.article > a {
  bottom: 0;
  left: 0;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
}

.articleLink {
  pointer-events: all;
}

.post-content {
  grid-column: 1/4;
}

.post-container {
  border-width: 1px;
}

@media (min-width: 640px) {
  .post-container {
    border-radius: 4px;
    padding-left: 40px;
  }
}

.post-container[data-is-listing='false'] {
  border-style: none;
}

.post-container[data-is-listing='true'] {
  border-color: rgb(50, 51, 52);
  margin-bottom: 10px;
  width: 100%;
  background-color: #141415;
}

.post-container[data-is-listing='true']:hover {
  border-color: rgb(215, 218, 220);
}

.voting {
  display: none;
}

.bar-voting {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
}

@media (min-width: 640px) {
  .bar-voting {
    display: none;
  }
  .voting {
    display: flex;
  }
}
